:root {
    --color-green: #30B868;
    --color-dark-green: #469165;
    --color-lt-black: #001931;
    --color-subtle-black: #627382;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
svg {
    display: block;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;  
}
body {
    color: var(--color-lt-black);
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/*---- Generic Classes ----*/
.container {
    max-width: 1360px;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.jc-sb {
    justify-content: space-between;
}
.jc-sa {
    justify-content: space-around;
}
.ai-center {
    align-items: center;
}
.flex-dc {
    flex-direction: column;
}
.jc-center {
    justify-content: center;
}
.full-width {
    width: 100%;
}
.text-center {
    text-align: center;
}
.btn {
    background: var(--color-green);
    color: #fff;
    border: none;
    padding: 14px 17px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: background 300ms ease;
}
.btn.md {
    padding: 18px;
}
.btn:hover {
    background: var(--color-dark-green);
}
.white-ghost {
    background: transparent;
    border: 1px solid #fff;
    transition: 300ms ease;
}
.white-ghost.btn:hover {
    border-color: var(--color-dark-green);
}
.block {
    display: block;
}
.color-white {
    color: #fff;
}
.h1 {
    font-size: 72px;
    line-height: 82px;
    font-weight: 700;
    text-transform: capitalize;
}
.h2 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    color: var(--color-lt-black);
    text-transform: capitalize;
}
.h3 {
    font-size: 40px;
    line-height: normal;
    font-weight: 600;
    color: var(--color-lt-black);
    text-transform: capitalize;
}
.p {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}
.p.sm {
    font-size: 16px;
    line-height: 20px;
    color: var(--color-subtle-black);
}
.gap-16 {
    gap: 16px;
}
/*---- Generic Classes ----*/


/*---- Navigation ----*/
.navigation {
    padding: 16px 0;
}
.logo {
    width: 139px;
    display: block;
}
.navigation ul {
    gap: 32px;
}
.navigation ul li a {
    font-size: 16px;
    color: #000;
    font-weight: 500;
    transition: color 300ms ease;
}
.navigation ul li a:hover {
    color: var(--color-green);
}
/*---- Navigation ----*/


/*---- Banner ----*/
.banner {
    padding: 115px 0 179px;
    background: var(--color-lt-black) url(../assets/hero-bg.png) center center/cover no-repeat;
}

.tocken {
    background: #fff;
    padding: 8px 12px;
    border-radius: 16px;
    gap: 6px;
}
.tocken img {
    width: 16px;
}
.tocken h2 {
    font-size: 16px;
    color: var(--color-green);
    font-weight: 500;
}
.banner .h1 {
    color: #fff;
}
.banner .h1 span {
    color: var(--color-green);
}
.banner-btn_group {
    margin-top: 16px;
}
.banner-btn_group .btn {
    gap: 10px;
}
/*---- Banner ----*/


/*---- Notes Section ----*/
.notes-dont-fail {
    background: #FBFBFB;
    padding-top: 60px;
}
.title-copy_combo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 44px;
}
.notes-card_container {
    gap: 24px;
}
.notes-card {
    background: #fff;
    padding: 69px 24px 16px;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .06);
}
.notes-card_icon {
    width: 60px;
    height: 60px;
    background: #F95555;
    border-radius: 50%;
}
.notes-card_icon img {
    width: 32px;
}

.notes-card h3 {
    font-size: 24px;
    line-height: normal;
    font-weight: 600;
    text-transform: capitalize;
}
/*---- Notes Section ----*/


/*---- Solution Section ----*/
.the-solution {
    background: #fff;
    padding: 120px 0;
    position: relative;
}
.col-left,
.col-right {
    width: 44.125%;
}
.col-right {
    margin-left: 60px;
}
.the-solution .title-copy_combo {
    align-items: flex-start;
}
.the-solution h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-green);
}
.the-solution ul li:not(:last-child) {
    margin-bottom: 16px;
}
.the-solution ul li {
    background: url(../assets/CheckCircle.png) left top no-repeat;
    padding-left: 26px;
}
/*---- Solution Section ----*/


/*---- Get Access Section ----*/
.get-access {
    padding-bottom: 120px;
}
.get-access .container {
    padding: 80px 0;
    background: #F7F6F2;
    border-radius: 12px;
}
.get-access .p.sm {
    margin-bottom: 10px;
    line-height: 24px;
}
.get-access .btn {
    gap: 10px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .15);
}
/*---- Get Access Section ----*/


/*---- Footer Section ----*/
.footer {
    padding: 120px 20px 30px;
    background: var(--color-lt-black);
}
.social-links h2 {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1em;
    color: #fff;
}
.social-links ul li a {
    transition: opacity 300ms ease;
}
.social-links ul li a:hover {
    opacity: .5;
}

.copyright {
    margin-top: 80px;
    border-top: 1px solid rgba(229, 231, 235, .2);
    padding-top: 16px;
}
.copyright p {
    color: #fff;
    font-size: 16px;
    line-height: 1em;
}
/*---- Footer Section ----*/