:root {
    --color-green: #30B868;
    --color-dark-green: #469165;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
svg {
    display: block;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;  
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 20px;
}
.flex {
    display: flex;
}
.jc-sb {
    justify-content: space-between;
}
.jc-sa {
    justify-content: space-around;
}
.ai-center {
    align-items: center;
}
.flex-dc {
    flex-direction: column;
}
.full-width {
    width: 100%;
}
.text-center {
    text-align: center;
}
.navigation {
    padding: 16px 0;
}
.logo {
    width: 139px;
    display: block;
}
.navigation ul {
    gap: 32px;
}
.navigation ul li a {
    font-size: 16px;
    color: #000;
    font-weight: 500;
    transition: color 300ms ease;
}
.navigation ul li a:hover {
    color: var(--color-green);
}
.btn {
    background: var(--color-green);
    color: #fff;
    border: none;
    padding: 14px 17px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: background 300ms ease;
}
.btn.md {
    padding: 18px;
}
.btn:hover {
    background: var(--color-dark-green);
}
.white-ghost {
    background: transparent;
    border: 1px solid #fff;
}
.white-ghost.btn:hover {
    border-color: var(--color-dark-green);
}
.block {
    display: block;
}
.color-white {
    color: #fff;
}
.h1 {
    font-size: 72px;
    line-height: 82px;
    font-weight: 700;
}
.h2 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
}
.p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}
.p.sm {
    font-size: 16px;
    line-height: 20px;
}
.banner {
    padding: 115px 0 179px;
    background: #001931 url(../assets/hero-bg.png) center center/cover no-repeat;
}
.banner .container {
    gap: 16px;
}
.tocken {
    background: #fff;
    padding: 8px 12px;
    border-radius: 16px;
    gap: 6px;
}
.tocken img {
    width: 16px;
}
.tocken h5 {
    color: var(--color-green);
    font-weight: 500;
}
.banner .h1 {
    color: #fff;
}
.banner .h1 span {
    color: var(--color-green);
}
.banner-btn_group {
    gap: 16px;
    margin-top: 16px;
}
.banner-btn_group .btn {
    gap: 10px;
}
.banner .p {
    line-height: 32px;
}